* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company-name h2 {
    padding-top: 10px;
}

.logo-style {
    color: rgb(24, 231, 231);
    font-size: 40px;
}

.contact-btn button {
    background-color: rgb(24, 231, 231);
    text-shadow: 1px 1px 2px black;
    color: #fff;
    border: none;
    padding: 8px 30px;
    border-radius: 5px;
}

/* Profile */

.home-info p {
    text-align: justify;
}

.home {
    order: 1;
}

.home-img {
    order: 2;
}

.home-img .img-box {
    position: relative;
    width: 26vw;
    height: 26vw;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.home-img .img-box::before,
.home-img .img-box::after {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background: conic-gradient(transparent, transparent, transparent, rgb(26, 193, 193));
    transform: rotate(0deg);
    animation: rotate-border 10s linear infinite;
}

.home-img .img-box::after {
    animation-delay: -5s;
}

@keyframes rotate-border {
    100% {
        transform: rotate(360deg);
    }
}

.home-img .img-box .img-item {
    position: relative;
    width: 100%;
    height: 100%;
    background: #1f242d;
    border-radius: 50%;
    border: .1px solid #1f242d;
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
}

.home-img .img-box .img-item img {
    background-color: transparent;
    top: 10px;
    position: absolute;
    display: block;
    width: 100%;
    object-fit: cover;
    mix-blend-mode: lighten;
    left: -10px;
}

/* Social Icon */

.social-icons a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.social-icons a i {
    font-size: 22px;
    padding: 10px 13px;
    color: #fff;
    border-radius: 50%;
}

.our-social-media {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}



/* Founder Details Section */

.founder-details-box {
    border: 2px solid rgb(26, 193, 193);
    border-radius: 5px;
    padding: 0 12px 12px 12px;
}

.founder-details-box .details-img {
    background: linear-gradient(rgb(26, 193, 193), rgb(26, 193, 193)) top left,
        linear-gradient(rgb(26, 193, 193), rgb(26, 193, 193)) top left,
        linear-gradient(rgb(26, 193, 193), rgb(26, 193, 193)) top right,
        linear-gradient(rgb(26, 193, 193), rgb(26, 193, 193)) top right;
    background-size: 2px 30px, 30px 2px;
    background-repeat: no-repeat;
    margin: 10px 0;
    padding: 10px;
    display: grid;
    place-items: center;
}

.founder-details-box .details-img img {
    width: 60%;
    height: 80px;
    border-radius: 10px;
}

.founder-details {
    background: linear-gradient(rgb(26, 193, 193), rgb(26, 193, 193)) bottom left,
        linear-gradient(rgb(26, 193, 193), rgb(26, 193, 193)) bottom left,
        linear-gradient(rgb(26, 193, 193), rgb(26, 193, 193)) bottom right,
        linear-gradient(rgb(26, 193, 193), rgb(26, 193, 193)) bottom right;
    background-size: 2px 30px, 30px 2px;
    background-repeat: no-repeat;
    padding-bottom: 3px;
}

.founder-details-title {
    background-color: rgb(26, 193, 193);
    position: relative;
}

.box-title h5 {
    color: #1f242d;
    z-index: 5;
}

.FDT-design-box {
    width: 40px;
    height: 40px;
    background: linear-gradient(135deg, rgb(26, 193, 193) 50%, #1f242d 50%);
    border: none;
    position: absolute;
    z-index: 4;
    right: 0;
    bottom: 0;
}

.founder-details p {
    padding: 20px;
    color: #fff;
    text-align: justify;
    width: 100%;
    height: 180px;
    overflow: scroll;
}

.founder-details p::-webkit-scrollbar {
    display: none;
}

/* Join Team */

.join-team {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.join-team-details h1 {
    font-size: 40px;
}

.team-img {
    display: grid;
    place-items: center;
}

.team-img img {
    width: 100%;
    height: 300px;
    filter: drop-shadow(1px 1px 1px rgb(24, 231, 231));
}

/* Partners */

.slider-container {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    width: 100%;
    padding: 10px 0;
}

.slider {
    display: flex;
    width: max-content;
    animation: scroll-left 25s linear infinite;
}

.slider.reverse {
    animation: scroll-right 25s linear infinite;
}

.slider img {
    width: 150px;
    height: 100px;
    object-fit: contain;
    border-radius: 5px;
    margin-left: 20px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

@keyframes scroll-left {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes scroll-right {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

/* Founder Page Footer Section */

.list-unstyled li {
    cursor: pointer;
}


@media screen and (max-width: 768px) {
    .home {
        order: 2;
    }

    .home-img {
        order: 1;
        display: grid;
        place-items: center;
        margin-bottom: 20px;
    }

    .home-img .img-box {
        width: 70vw;
        height: 70vw;
    }

    .company-name h2 {
        font-size: 20px;
    }

    .contact-btn button {
        padding: 5px 20px;
    }

    .logo-style {
        font-size: 25px;
    }

    .join-team {
        flex-direction: column-reverse;
    }

    .founder-details-box .details-img img {
        width: 100%;
    }
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #1f242d;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(24, 231, 231);
    border-radius: 10px;
}